@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}
.navigation ul li  {
    float: left;
}
.navigation ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.navigation ul li a:hover {
    background-color: #111;
    transition: 500ms;
}

.search {
    
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    top: 0;
    width: 100%;
}

.search input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.search button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
