@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}
.navigation ul li  {
    float: left;
}
.navigation ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.navigation ul li a:hover {
    background-color: #111;
    transition: 500ms;
}

.navigation .search button {
    color: white;
    background-color: #333;
    text-align: center;
    padding: 16px 15px;
    font-family: 'Poppins', sans-serif;
    border: none;
}

.navigation .search button:hover {
    background-color: #111;
    transition: 500ms;
    
}

.navigation .search input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.navigation .search input[type=text]::placeholder {
    color: white;
    font-family: 'Poppins', sans-serif;
}
